/target
**/target/
node_modules/
**/node_modules/
.env
*.log
*.txt
.DS_Store
Thumbs.db
dist-manifest.json
/cargo-dist-cache
/wix
!Demo/**/package.json
!Demo/**/main.py
!Demo/**/Cargo.toml
!Demo/**/src/*.rs
